
body{
margin: auto;
  text-align: center;
  font-family: 'Merriweather', serif;


}

h1{
font-family: 'Sacramento', cursive;
   margin-top: auto;
   font-size: 5.62rem;
   color:#66BFBF;
}
h2{
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
margin-top:0;
color:#66BFBF;
font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E
}
.top-container{
  background-color: #EAF6F6;
  padding-top: 100px;
}



.bottom-container{
background-color: #66BFBF;
word-spacing: 25px;

}
.bottom-cloud{
  position: absolute;
  left:400px;
  bottom:420px;
}
.top-cloud{
  position: absolute;
  top: 50px;
  right: 350px;
}
.dheeraj-pic{
  width: 30%;
  float: right;
  margin-left: 30px;
}
.photo-pic{
  width: 30%;
  float: left;
  margin-right:30px;
}
.footer-link{
  color: #11999E
}
.skill-row{
width: 50%;
 margin:100px auto 100px auto;
 text-align: left;
 line-height: 2;

}
.button{
  background-color: #484c7f;
  width: 100px;
  height: 50px;
  text-decoration: none;
  border-radius: 40px;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;

}
P{
  color:#40514E
}
.footer-class{
  color: #EAF6F6;
  word-spacing: 0;
}
hr{

  border:dotted #EAF6F6 6px;
  border-color: grey;
  width: 4%;
  border-bottom: none;
}
